/*줄바꿈 방지*/
white-space:nowrap;

/*글자수 제한*/
width:90%;
display:block;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;

/*넓이 맞추기*/
width:fit-content;

/* pseudo 선택자로 삽입한 콘텐트 빼기 */
.className:after{
    content:none;
}

/*position absolute 중앙정렬*/
.my_div {
    position:absolute;
    top: 50%;
    left;50%;
    transform:translate(-25%, 50%);
}
.play-img {
  width: 50%;
}

/*transition 단축속성*/
transition: property | duration | timing-function | delay

/* background 단축속성 */
background: no-repeat 0% center/50% url('/path');
/* background-repeat: no-repeat;
   background-position: 0% center;
   background-size: 50%;
   background-image: url('/resources/web/images/browse/welcome/button_hover_img.png'); */

/* image hover switch transition */
.img-container {
  background: no-repeat 0% 0%/49.95% url('/path');
}
.img {
  cursor: pointer;
  width: 50%;
  transition: opacity 0.3s ease-in-out;
}
.img:hover {
  opacity: 0;
}

/* 미디어 쿼리 */
@media screen and (min-width: 1200px) {
  .review-obj {
    display: block;
    position: absolute;
    width: 260px;
    left: 66%;
    top: 670px;
  }
}

/* min/max font-size */
.class {
    font-size: min(4vw, 30px);
    font-size: max(4vw, 30px);
}

/* aspect Ratio */
.container {
  width: 100%;
  padding-top: 100%; /* 1:1 Aspect Ratio */
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
  padding-top: 75%; /* 4:3 Aspect Ratio (divide 3 by 4 = 0.75) */
}

/* css grid */
/*https://heropy.blog/2019/08/17/css-grid/*/
display: grid;
grid-template-columns: repeat(4, 20%);
justify-content: center;

/* scrollbar always show */
.div::-webkit-scrollbar {
    -webkit-appearance: none;
}

.div::-webkit-scrollbar:vertical {
    width: 11px;
}

.div::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white; /* should match background, can't be transparent */
    background-color: rgba(0, 0, 0, .3);
}

/* 2개 이상 변수 calc */
height: calc(72vh - (173px + 1.5rem))

/* css로 배치 순서 뒤집기 */
display: flex;
flex-direction: column-reverse;

/* triangle */
.triangle-topleft {
    width: 0;
    height: 0;
    border-top: 80px solid #EFF2F7;
    border-right: 80px solid transparent;
  }

/*active bar*/
.active {
  position: relative;
  color: yellow !important;
  opacity: 1;
}

.active:after {
  content: "";
  position: absolute;
  left: 10px;
  bottom: 10px;
  right: 10px;
  margin: auto;
  background: yellow;
  height: 3px;
}

/* 이모지 색변경 */
<div>🚀🎭😻</div>

div {
  color: transparent;  
  text-shadow: 0 0 0 red;
}

/* 이모지 아웃라인만 남기기 */
<p title="🚀">🚀</p>
p {
  margin: 0;
  color: transparent;
  text-shadow: 0 0 3px blue;
  font-size: 20px;
  position: relative;
}

p::before {
  content: attr(title);
  position: absolute;
  text-shadow: 0 0 0 #fff;
}

/* 클래스 추가/삭제시 속성값 변화할때 transition 주기 */
.circle {
  border-radius: 50%;
  background: #f8f8f8;
  color: #cccccc;
  transition: width 0.4s, height 0.4s;
}

/* 흑백 처리 */
img{
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
